
<%= form_with model: @article, local: true do |form| %>

  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :title, 'Título (escribir fecha, ej: LUNES 23 DE MARZO)' %><br>
    <%= form.text_field :title, class: 'input', id: 'text-title' %>
  </p>

  <section class="section columns">
    <p>
      <%= form.label :text %><br>
      <%= form.hidden_field :text, id: :article_text %>
      <trix-editor input="article_text"></trix-editor>
    </p>
  </section>
  <p>
    <%= form.submit 'Cargar texto', {class: 'button'} %>
  </p>

<% end %>